.post {
  @include flex-dir(column, flex-start, center);
  background-color: rgba(226, 150, 79, 0.6);
  max-width: 550px;
  width: 60vw;
  min-width: 370px;
  min-height: 100px;
  border-radius: 10px;
  margin: 20px auto 20px auto;
  padding: 15px;
}

.profil-picture {
  object-fit:cover;
  border-radius: 50%;
  height: 40px;
  min-width: 40px;
  margin: 0 10px 0 0;
}

.profile-link{
  text-decoration: none;
}

.post-header {
  @include flex-dir(row, center, space-between);
  width: 100%;
  margin: 0 0 10px 0;
  
  .post-header-left {
    @include flex-dir(row, center, flex-start);
  }
  .post-header-right {
    position: relative;
    .fa-ellipsis-h {
      cursor: pointer;
    }
  }
  .exif-data {
    @include flex-dir(column, flex-start, center);
    height: 40px;
    width: 100%px;
    color: $light-grey;
  }
  .author {
    font-size: 14px;
    font-weight: bold;
    color: $dark-grey;
  }
  .date {
    font-size: 12px;
    color: $dark-grey;
  }
}

.options {
  @include flex-dir(column, center, space-around);
  position: absolute;
  width: 120px;
  height: 65px;
  margin: 0 0 10px 0;
  border-radius: 5px;
  background-color: rgba(221, 175, 132, 0.98);
  font-weight: bold;
  top: 20px;
  right: 0;
  z-index: 100;
  .delete {
    color: red;
    cursor: pointer;
    &:hover {
      color: rgb(212, 25, 25);
    }
  }
  .edit {
    cursor: pointer;
    &:hover {
      color: rgb(1, 79, 116);
    }
  }
}
.-comm {
  height: 50px;
  top: -15px;
  right: 20px;
}

.post-body {
  @include flex-dir(column, flex-start, center);
  width: 100%;
  height: 100%;
  color: black;
  .body {
    width: 100%;
  }
  form {
    width: 100%;
    position: relative;

    .abort-edit {
      width: 65px;
      text-align: center;
      color: red;
      font-weight: bold;
      cursor: pointer;
      margin: 0 10px 10px auto;
      &:hover {
        color: rgb(212, 25, 25);
      }
    }
    .delete-image {
      width: auto;
      text-align: center;
      color: red;
      font-weight: bold;
      cursor: pointer;
      margin: 10px auto ;
      &:hover {
        color: rgb(212, 25, 25);
      }
    }
    .text-modifier {
      width: 100%;
      height: 40px;
      flex: 1;
      border-radius: 30px;
      background-color: $light-grey;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 20px;
      color: rgb(0, 0, 0);
      margin-bottom: 10px;
      &:focus {
        border: 2px solid $color-complementary;
      }
    }
    .image-upload {
      input {
        visibility: hidden;
        width: 0;
        height: 0;
      }
      .fa-file-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
        width: 50px;
        height: 50px;
        font-size: 60px;
        z-index: 100;
        cursor: pointer;
        color: $color-complementary;
      }
    }

    img {
      min-height: 100px;
      z-index: 1;
      cursor: pointer;
      filter: grayscale(.4);
      filter: blur(.8px);
      opacity: .7;
    }

    .btn-modify {
      width: 100%;
      height: 40px;
      border-radius: 30px;
      background-color: $color-primary;
      border: none;
      outline: none;
      font-size: 20px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgb(1, 79, 116);
      }
    }
  }
  .post-message {
    color: $dark-grey;
    font-size: 20px;
    margin: 0 0 10px 0;
    width: 100%;
    white-space: initial;
    overflow-wrap: break-word;
  }
  .post-image {
    height: auto;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
}

.post-footer {
  @include flex-dir(column, flex-start, center);
  width: 100%;
  hr {
    width: 100%;
    margin: 5px 0 10px 0;
    border: solid 1px $color-primary;
  }

  .like-comment {
    @include flex-dir(row, center, center);
    .like-container {
      @include flex-dir(row, center, center);
      height: 100%;
      width: 60px;
      padding: 10px;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      margin: 0 5px;
      cursor: pointer;
      .fa-heart {
        font-size: 20px;
        color: $color-secondary;
        margin: 5px;
      }
      .like-count {
        font-size: 14px;
        color: $dark-grey;
        margin: 5px;
      }

      &:hover {
        background-color: $color-secondary;
        .fa-heart {
          color: $color-tertiary;
        }
      }
    }

    .comment-container {
      @include flex-dir(row, center, center);
      height: 100%;
      width: 60px;
      padding: 10px;
      margin: 0 5px;
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      cursor: pointer;
      .fa-comment {
        font-size: 20px;
        color: $color-secondary;
        margin: 5px;
      }
      .comment-count {
        font-size: 14px;
        color: $dark-grey;
        margin: 5px;
      }
      .comment-count-inactive {
        display: none;
      }
      &:hover {
        background-color: $color-secondary;
        .fa-comment {
          color: $color-tertiary;
        }
      }
    }
  }
}

.inactive {
  display: none;
}

.comment-section {
  @include flex-dir(column, flex-start, center);
  width: 100%;
  height: auto;

  .comment {
    @include flex-dir(column, flex-start, center);
    background-color: rgba(221, 175, 132, 0.6);
    max-width: 540px;
    width: 100%;
    min-width: 370px;
    min-height: 100px;
    border-radius: 10px;
    margin: 20px auto 20px auto;
    padding: 15px;
  }

  .comment-header {
    @include flex-dir(row, center, space-between);
    width: 100%;
    margin: 0 0 10px 0;

    .comment-header-left {
      @include flex-dir(row, center, flex-start);
    }
    .comment-header-right {
      position: relative;
      .fa-ellipsis-h {
        cursor: pointer;
      }
    }
    .exif-data {
      @include flex-dir(column, flex-start, center);
      height: 40px;
      width: 100%px;
      color: $light-grey;
    }
    .author {
      font-size: 14px;
      font-weight: bold;
      color: $dark-grey;
    }
    .date {
      font-size: 12px;
      color: $dark-grey;
    }
  }
  .comment-message {
    width: 100%;
    white-space: initial;
    overflow-wrap: break-word;
  }
}

.form-comment {
  @include flex-dir(row, center, flex-start);
  width: 100%;
  height: 60px;
  padding: 10px;
  .add-comment {
    height: 100%;
    flex: 1;
    border-radius: 30px 0 0 30px;
    background-color: $light-grey;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    // margin: 0 10px 0 10px;
  }
  .add-comment-button {
    @include flex-dir(row, center, center);
    height: 100%;
    flex: 0;
    border-radius: 0 30px 30px 0;
    background-color: $light-grey;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    &:hover {
      .fa-paper-plane {
        color: $color-primary;
      }
    }
    &:active {
      .fa-paper-plane {
        color: $color-tertiary;
      }
    }
  }
  .fa-paper-plane {
    font-size: 25px;
    color: $color-complementary;
    margin: 0 10px;
  }
}
